ENV=dev|prod|test
CONFIG_FILES=.env,.env.secrets,.env.log,db_config.json
CONFIG_AUTH_USER=my_user
CONFIG_AUTH_PASSWORD=my_password
CONFIG_URI=https://midomain.com/central/config/download
DEBUG=-winston:create-logger,*,-sequelize:*,-express:*,-ioredis:*,-winston:create-logger,-socket.io*,-engine*,-not_this
DEBUG_HIDE_DATE=1
DEBUG_COLORS=1
