node_modules/
build/
temp/tmp-*
temp/dsistemas01/
logs/
binary_data/temporal/
binary_data/persistent/
install_distribution/
.deploy.json
.env.log
.env.secrets
test/standalone/result/dsistemas01/
jobs/data/job-*
jobs/result/job-*
tasks/data/task-*
tasks/result/task-*
