node_modules/
build/
temp/tmp-*
temp/dsistemas01/
data/dsistemas01/
logs/
binary_data/temporal/
binary_data/persistent/
install_distribution/
.deploy.json
.env.log
.env.secrets
test/standalone/result/dsistemas01/
jobs/input/job-*
jobs/output/job-*
tasks/input/task-*
tasks/output/task-*
jobs/input/undefined*
jobs/output/undefined*
tasks/input/undefined*
tasks/output/undefined*
